/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    background-image: url('photo-1447933601403-0c6688de566e.jpeg');
    background-size: cover;          /* Make the image cover the entire page */
    background-position: center;     /* Center the image */
    background-repeat: no-repeat;    /* Prevent repetition */
    background-attachment: fixed;    /* Make the background fixed when scrolling */
    font-family: Arial, sans-serif;  /* Text styling for contrast */
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #3E1E13;
    color: #fff;
}

header .logo {
    width: 50px;
    height: 50px;
    background-color: #814C27;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav {
    height: 100%;
    display: flex;
    align-content: stretch;
}

header nav span {
    flex: 1 1 0;
    height: 100%;
    padding: 20px 0;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

header nav span:hover, header nav span:focus, .active {
    background: #8C5B3E;
}

/* Main Section */
main {
    display: flex;
    margin: 20px;
}

/* Sidebar */
.sidebar {
    width: 20%;
    background-color: #8C5B3E;
    padding: 10px;
    border:  1px solid #6E432A;
}

.sidebar .menu-item {
    padding: 10px;
    background-color: #E5D0B6;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #6E432A;
    cursor: pointer;
}

/* Content Section */
.content {
    width: 80%;
    display: flex;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
    background-color: #8C5B3E ;
    margin-left: 20px;
}

.content .card {
    background-color: #6E432A;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.content .card img {
    max-width: 100%;
    border-radius: 5px;
}

.content .card span {
    color: #f00;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    background-color: #3E1E13;
    padding: 20px;
    color: #fff;
    text-align: center;
}

footer .footer-item {
    width: 30%;
    padding: 10px;
    border: 1px solid #6E432A;
    background-color: #8C5B3E;
}

footer input {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #6E432A;
    border-radius: 3px;
}
